# embedded sub-repositories
polymerist/*
polymer_examples/*

# large directories of structures
cleaned_pdbs/*
membrane_fragments/*
rxn_demo_imgs/*

# debug dirs
symmetry_actions/*
lattices/*

demos/*
water_files/*
polysaccharide_stripped/*

# one-off files
imports.csv
pretzel.pdb
# extract_imports.py

# testing files
test*.*
pdb_test/*
sdf_test/*
openmm_test/*
polybuild_test/*
RCT_test/*
workflow_test*/*

# cached files
**/__pycache__/*
.model.pt