# embedded sub-repositories
polymerist/*
polymer_examples/*

# large directories of structures
cleaned_pdbs/*

# debug
polysaccharide_stripped/*
pdb_test/*
# pdb_test_cleaned/*
sdf_test/*
water_files/*
openmm_test/*
polybuild_test/*
RCT_test/*
workflow_test*/*
demos/*

# cached files
**/__pycache__/*
.model.pt