# embedded sub-repositories
polysaccharide2/*
polymer_examples/*

# large directories of structures
cleaned_pdbs/*

# debug dirs
polysaccharide_stripped/*
pdb_test/*
pdb_test_cleaned/*

# cached files
**/__pycache__/*